.page-title {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.page-title h2 {
  display: inline-block;
}

.margintop20{
  margin-top: 20px;
}

.fontBold{
  font-weight: bolder;
}
